@import 'assets/styles/variable.scss';

.dropdown__item {
  list-style-type: none;

  &:first-child {
    margin-top: 4px;
  }

  .item__fakecheck {
    width: 17px;
    height: 17px;
    border: 2px solid $cl_grey-border;
    pointer-events: none;

    &.item__fakecheck--active {
      border-color: $cl_black;
      background-color: $cl_light-blue;
      .item__checked {
        display: block;
      }
    }

    .item__checked {
      display: none;
    }
  }

  .item__text {
    top: -2px;
  }
}
