@import 'assets/styles/variable.scss';

.search {
  padding: 24px 0px;

  .container {
    .search__header {
      margin-bottom: 32px;
      font-size: 24px;
    }

    .search__main {
      .main__filter {
        min-width: 238px;

        .filter__container {
          top: 72px;
          max-height: calc(100vh - 73px);
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-track {
            background: $cl_white;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: $cl_white-border;
          }
        }
      }

      .main__search-content {
        flex-grow: 1;

        .search-content__sort {
          margin-bottom: 20px;
        }

        .search-content__pagination {
          margin: 40px 0px;
        }
      }
    }
  }
}
