@import 'assets/styles/variable.scss';

.auth-modal {
  &__header {
    border-bottom: 2px solid $cl_grey-background;

    .auth-modal-tab__nav {
      flex: 0 0 50%;
      height: 64px;
      padding: 0px 16px;
      cursor: pointer;

      &.active {
        &::after {
          position: absolute;
          right: 0px;
          bottom: -2px;
          left: 0px;
          height: 2px;
          background: $cl_light-blue;
          content: '';
        }
      }
    }
  }
}

.modal-open {
  padding: 0 !important;

  .modal {
    &::-webkit-scrollbar {
      display: none;
    }

    &-dialog.auth-modal__modal {
      max-width: 440px;

      .modal-content {
        border-radius: 8px;
      }
    }
  }
}
