@import 'assets/styles/variable.scss';
@import 'assets/styles/typography.scss';

.header {
  position: sticky;
  top: 0px;
  background: $cl_white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.35s ease-in-out 0s;
  z-index: 100;

  &--scrolling-down {
    transform: translateY(-73px);
  }

  &--on-top {
    box-shadow: none;
  }

  .container {
    & > div {
      height: 72px;
      background: $cl_white;

      .header-logo {
        &::after {
          position: absolute;
          top: 50%;
          right: -24px;
          width: 1px;
          height: 32px;
          background: $cl_grey-background;
          transform: translateY(-50%);
          content: '';
        }
      }
    }
  }
}
