@import './variable';

body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: $cl_price-black;
}

.overlay {
  height: 100%;
  background: $cl_black;
  transition: all 0.35s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 99;

  &.show {
    visibility: visible;
    opacity: 0.5;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $cl_white;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $cl_light-blue;
}
