$cl_white-border: #f7f9fb;
$cl_grey-background: #f3f5f8;
$cl_dark-blue: #242368;
$cl_light-blue: #06c1d4;
$cl_red: #d53b2a;
$cl_price-black: #0e0e0e;
$cl_text-black: #161616;
$cl_light-black: #171c27;
$cl_btn-grey: #414956;
